.DoomClockWidget {
	width: 65%;
	padding: 15px;
	border: 2px solid;
}

.DoomClockWidget h4 {
	margin: 0 0 8px;
}

.DoomClockWidget time {
	display: block;
	margin-left: 10px;
}

#doomclock-days {
	font-size: 28px;
}

#doomclock-hours {
	margin-left: 4px;
}

#doomclock-hours,
#doomclock-minutes,
#doomclock-seconds {
	font-size: 18px;
	line-height: 1.65em;
}